body {
    margin: 0;
    padding: 0;
    background: #cccccc; /* breite Ränder */
    font-family: Arial, Helvetica, sans-serif;
}

/* Zentrierter Seitencontainer */
#container {
    width: 1000px;
	line-height: 1.4;
    margin: 0 auto;
    background: #ffffff;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
   font-family: Georgia, "Times New Roman", serif;

}
main::after {
    content: "";
    display: table;
    clear: both;
}

/* Banner: maximale Höhe */
#banner img {
    width: 100%;           /* volle Breite des Containers */
    height: auto;          /* proportional skalieren */
    max-height: 150px;     /* gewünschte maximale Höhe */
    display: block;
    object-fit: cover;     /* optional: skaliert und schneidet Bild, ohne zu verzerren */
}


/* Navigation */
#navigation {
    background: #eeeeee;
    padding: 8px;
    border-bottom: 1px solid #999;
    padding-left: 20px;
}

#navigation a {
    margin-right: 15px;
    text-decoration: none;
    color: #003366;
    font-weight: bold;
}

#navigation a:hover {
    text-decoration: underline;
}

/* Hauptbereich */
#main {
    padding: 20px;

}

/* Inhalt links */
#content {
    width: 69%;
	height: 100%;
    float: left;
}

div.a {
  text-indent: 50px;
}

ul {
        list-style: none;      /* Standardpunkte entfernen */
    padding-left: 0;
    margin-left: 0;
	
}

ul li {
    position: relative;
    padding-left: 40px;    /* Platz für das Bild */
    line-height: 1.4;
}


ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.5em;           /* vertikale Ausrichtung */
    width: 30px;
    height: 10px;
    background-image: url("images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.inline-icon img {
    width: 52px;         /* Pfeilgröße anpassen */
    height: 32px;        /* proportional oder fix */
    vertical-align: middle; /* mittig zum Text */
    margin-left: 6px;    /* Abstand vor/nach Text */
    margin-right: 3px;
	margin-top: 5px;
}

.inline-flag img {
    width: 15px;         /* Pfeilgröße anpassen */
    height: 15px;        /* proportional oder fix */
    vertical-align: middle; /* mittig zum Text */
    margin-left: 3px;    /* Abstand vor/nach Text */
    margin-right: 3px;
	margin-top: 0px;
    object-fit: cover; 
	border: 1px solid black;
}


.inline-arrow img {
    width: 30px;         /* Pfeilgröße anpassen */
    height: 10px;        /* proportional oder fix */
    vertical-align: middle; /* mittig zum Text */
    margin-left: 1px;    /* Abstand vor/nach Text */
    margin-right: 3px;
	margin-top: 0px;
    object-fit: contain; 
}

#bilder {
	    max-width: 30%;
		float: right;
}

.sideimage {
    width: 250px;
	margin-top:10%;
    height: auto;
    max-height: 250px;
    text-align: center;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 0px;       /* nach oben über Banner hinausragen */
    box-sizing: border-box;
    
    position: relative;       /* wichtig: z-index wirksam machen */
    z-index: 5;     
	/* liegt nun über Banner */
}

.sideimage img {
    width: 100%;        
    height: auto;
    max-height: 250px;
    border: 1px solid #999;
    display: block;
	object-fit: scale-down;
	margin-top: 20px;
}

.sideimage .caption {
    font-size: 10px;
    font-style: italic;
    color: #555;
    margin-top: 5px;
}



.sideimage-long {
    float: right;
    width: 250px;
    max-width: 30%;
    height: auto;
    text-align: center;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 10%;       /* nach oben über Banner hinausragen */
    box-sizing: border-box;
    
    position: relative;       /* wichtig: z-index wirksam machen */
    z-index: 5;  
	/* liegt nun über Banner */
}

.sideimage-long img {
    width: 100%;        
    height: auto;
    max-height: 500px;
    display: block;

	 object-fit: contain; 
}

.sideimage-long .caption {
    font-size: 10px;
    font-style: italic;
    color: #555;
    margin-top: 5px;
}



/* Footer */
#footer {
    background: #eeeeee;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #999;
}

/* Clearfix oldschool */
.clear {
    clear: both;
}

/* Banner-Wrapper für relative Positionierung */
#banner-wrapper {
    position: relative;
    width: 100%;
    max-width: 1000px; /* entspricht Containerbreite */
    margin: 0 auto;
}

/* Bannerbild */
#banner-wrapper img {
    width: 100%;
    height: auto;
    max-height: 250px;       /* gewünschte Höhe */
    object-fit: cover;   /* skaliert und schneidet das Bild proportional */
    display: block;
}

#navitem {
	padding-right: 15px;
	border-right: 1px black solid;
}

#banner-title .subtitle {
    display: block;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
 letter-spacing: 1px;
    padding: 0;
text-shadow: 1px 1px 4px rgba(0,0,0,1), -1px -1px 3px rgba(0,0,0,1), 5px 5px 5px rgba(0,0,0,1), -5px -5px 5px rgba(0,0,0,1);
}

/* Überlagerter Titel */
#banner-title {
    position: absolute;
    bottom: 35px; /* Abstand vom oberen Rand des Banners */
    left: 20px; /* Abstand von links */
    font-family: Georgia, "Times New Roman", serif;
    font-size: 48px; /* sehr groß */
    color: white;
    text-shadow: 5px 5px 8px rgba(0,0,0,1), -5px -5px 8px rgba(0,0,0,1), 2px 2px 2px rgba(0,0,0,1);
    z-index: 2;
}

#fragebox {

   width: 80%;               /* Breite der Box */
    max-width: 600px;         /* optional: maximale Breite */
    margin: 30px auto;        /* zentriert horizontal, Abstand oben/unten */
    padding: 10px;            /* Innenabstand */
    border: 1px solid #999;   /* leichte graue Border */
    text-align: center;       /* Text zentrieren */
    background-color: #ffffff; /* optional: weiße Hintergrundfarbe */
    box-sizing: border-box;   /* Padding + Border werden zur Gesamtbreite gerechnet */
	z-index: 100;
	    position: relative; /* damit es über dem SVG liegt */

}

#frage {

    font-size: 22px; /* sehr groß */
    color: black;
line-height: 1.4;
 letter-spacing: 0.4px;
    text-shadow: 1px 1px 5px rgba(0.2,0.2,0,0), -1px -1px 5px rgba(0.2,0.2,0,0);
    z-index: 2;
}


.hinweis {

    position: relative; /* wichtig für absolute Positionierung des Textes */
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
	font-size:12px;
    padding: 10px;
    border: 1px solid #999;
    text-align: center;
    background-color: #ffffff;
    box-sizing: border-box;
}

.hinweis-text {

    position: absolute;
    top: -20px;       /* nach oben aus der Box hinaus */
    left: -10px;      /* nach links aus der Box hinaus */
    font-size: 30px;
    font-weight: bold;
    color: red;       /* beliebige Farbe */
    transform: rotate(-45deg);  /* schräg setzen */
    transform-origin: 0 0;     /* Rotationspunkt obere linke Ecke */
    z-index: 10;
}

.norma {
	
	position: absolute;
	right: 0px;
	top: 0px;
    transform: rotate(15deg) scale(0.35) translate(130px, -1250px);  /* schräg setzen */
    transform-origin: 100 0;     /* Rotationspunkt obere linke Ecke */
    z-index: 10;
	
}


#hinweisoverlay {
 position: absolute;
    top: -20px;       /* nach oben aus der Box hinaus */
    left: -10px;      /* nach links aus der Box hinaus */
    font-size: 35px;
    font-weight: bold;
	font-family: Great Vibes;
    color: black;       /* beliebige Farbe */
    transform: rotate(-40deg);  /* schräg setzen */
    transform-origin: 50% 180%;     /* Rotationspunkt obere linke Ecke */
    z-index: 10;
}

#fragesvg {
	position: relative;
	margin:0px;
	height: 300px;
}

#svgelement {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
	margin-top: -30px;
}

svg {

  background-color: none;
}
path {
  stroke-dasharray: 2000;
  animation: draw 10s infinite;
}
@keyframes draw {
  from {
    stroke-dashoffset: 0
  }
  to {
    stroke-dashoffset: 5000;
  }
}