@font-face {
  font-family: fraktur;
  src: url(fonts/BreitkopfFraktur.ttf); 
}

body {
    margin: 0;
    padding: 0;
    background:  #877d68;
	
	font-color: #49443B;
    font-family: Georgia, "Times New Roman", serif;
	
	  display: grid;
	  grid-template-columns: 1fr 1000px 1fr;
	  min-height: 100vh;

}

table, th, td {
  border:1px solid black;
}



.sidemenu {
text-align: left;            
  border-bottom: 2px dotted #303a40; 
  padding-left: 4px;
	padding-bottom: 2px;
	padding-top:5px;
	color:black;
	width:70%;

}

.sidemenu a {
text-decoration: none;
}

#rechts{
grid-column: 3;
	margin-top:200px;
width:300px;
background-color: #D6C8AE;
border-left: 10px solid #877d68;

}


.sidemenu a:hover {
    text-decoration: underline;
}

#container {
	  grid-column: 2;
    width: 1000px;
	line-height: 1.4;
    margin: 0 auto;
    background: #D6C8AE;
   font-family: Georgia, "Times New Roman", serif;
	


}
main::after {
    content: "";
    display: table;
    clear: both;
}

#banner img {
    width: 100%;          
    height: auto;          
    max-height: 150px;     
    display: block;
    object-fit: cover;     
}

.mobile-bottom {
  position: fixed;     
  bottom: 0;
  left: 0;
  width: 100%;
  height:20%;
  display: none;
  background: #000;
  color: #fff;
  padding: 12px;
  z-index: 1000;
}

@media (max-width: 1000px) {
  .mobile-bottom {
    display: block;
  }
}

.close-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}



#navigation {
    background: #374045;
	height:2px;
    display: flex;
    align-items: center;
}

#navigation a {
    text-decoration: none;
    color: #003366;
    font-weight: bold;
}



#navigation a:hover {
    text-decoration: underline;
}


#main {
	position:relative;
	    display: flex;
    flex-wrap: wrap; 
    padding: 30px;

}


.navitem {
	font-size: 18px;
	margin-top:5px;
	margin-left: 10px;
	margin-right: 10px;
	background-color:#E6E6E6;
}

.navitem a {
 display: flex;
    align-items: center;
    justify-content: center;
background-color:#E6E6E6;
    width: 100%;
    height: 100%;

    text-align: center;
    text-decoration: none;
}


.nav-left,
.nav-right {
    width: 50px;
    height: 50px;
	background-color:#E6E6E6;
	font-size: 18px;

}

.nav-left a,
.nav-right a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    text-align: center;
    text-decoration: none;
}

.nav-center {
    flex: 1;                 /* nimmt den restlichen Platz ein */
    display: flex;
    flex-wrap: wrap;         /* umbrechen erlaubt */
    align-items: center;
    margin: 0 10px;
	border: 1px solid #696969;
}



#content {
    width: 69%;
	height: 100%;
    float: left;

	padding-left: 10px;

}

div.a {
  text-indent: 50px;
}

ul {
        list-style: none;      
    padding-left: 0;
    margin-left: 0;
	
}

ul li {
    position: relative;
    padding-left: 40px;  
    line-height: 1.4;
}


ul li::before {
    content: "";
    position: absolute;
    left: 0;      
	  top: 50%;
    width: 30px;
    height: 10px;
	transform: translateY(-50%);
    background-image: url("images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.inline-icon img {
    width: 52px;         
    height: 32px;       
    vertical-align: middle; 
    margin-left: 6px;   
    margin-right: 3px;
	margin-top: 5px;
}

.inline-flag img {
    width: 15px;        
    height: 15px;       
    vertical-align: middle;
    margin-left: 3px;   
    margin-right: 3px;
	margin-top: 0px;
    object-fit: cover; 
	border: 1px solid black;
}


.inline-arrow img {
    width: 30px;        
    height: 10px;       
    vertical-align: middle;
    margin-left: 1px;   
    margin-right: 3px;
	margin-top: 0px;
    object-fit: contain; 
}

#bilder {
	    max-width: 30%;
		float: right;
		padding-right: 10px;
}

.smallimage {
    width: 180px;
    height: auto;

    text-align: center;
    margin-left: 1%;
    margin-top: -50px;      
    box-sizing: border-box;
    position: relative;       
    z-index: 5;     
	
}



.sideimage {
    width: 250px;
	margin-top:10%;
    height: auto;
    max-height: 250px;
    text-align: center;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 0px;      
    box-sizing: border-box;
    position: relative;       
    z-index: 5;     
	
}

.sideimage img {
    width: 100%;        
    height: auto;
    max-height: 250px;
    border: 1px solid #999;
    display: block;
	object-fit: scale-down;
	margin-top: 20px;
}

.sideimage .caption {
    font-size: 10px;
    font-style: italic;
    color: #555;
    margin-top: 5px;
}



.sideimage-long {
    float: right;
    width: 250px;
    max-width: 30%;
    height: auto;
    text-align: center;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 10%;       
    box-sizing: border-box;
    position: relative;       
    z-index: 5;  
}
	

.sideimage-long img {
    width: 100%;        
    height: auto;
    max-height: 500px;
    display: block;
	 object-fit: contain; 
}

.sideimage-long .caption {
    font-size: 10px;
    font-style: italic;
    color: #555;
    margin-top: 5px;
}



.clear {
    clear: both;
}

#banner-wrapper {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}


#banner-wrapper img {
    width: 100%;
    height: auto;
    max-height: 200px;      
    object-fit: cover;   
    display: block;
}



#banner-title .subtitle {
    display: block;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
 letter-spacing: 1px;
    padding: 0;
text-shadow: 1px 1px 4px rgba(0,0,0,1), -1px -1px 3px rgba(0,0,0,1), 5px 5px 5px rgba(0,0,0,1), -5px -5px 5px rgba(0,0,0,1);
}


#banner-title {
    position: absolute;
    bottom: 35px;
    left: 20px; 
    font-family: Georgia, "Times New Roman", serif;
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 8px rgba(0,0,0,1), -5px -5px 8px rgba(0,0,0,1), 2px 2px 2px rgba(0,0,0,1);
    z-index: 2;
}

#fragebox {
	background-image: url(images/rahmen5.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
    width: 80%;              
    max-width: 600px;        
    margin: 30px auto;      
    padding: 30px;        
	    text-align: center;   
 /* border: 8px double #5E574E; */
   
    background-color: #f3dfc1;
	
    box-sizing: border-box;  
	z-index: 100;
	position: relative;
}



#frage {
    font-size: 24px; /* sehr groß */
    color: black;
	line-height: 1.4;
	 letter-spacing: 0.4px;
    text-shadow: 1px 1px 5px rgba(0.2,0.2,0,0), -1px -1px 5px rgba(0.2,0.2,0,0);
    z-index: 2;
	margin-top: 5px;
}


.hinweis {
    position: relative; /* wichtig für absolute Positionierung des Textes */
    width: 80%;
	height: 80px;
    max-width: 600px;
    margin: 40px auto;
	font-size:12px;
    padding: 10px;
    border: 1px solid #999;
    text-align: center;
    background-color: #f3dfc1;
    box-sizing: border-box;
}

.hinweis-text {
    position: absolute;
    top: -20px;      
    left: -10px;    
    font-size: 10px;
    font-weight: bold;
    color: red;      
    transform: rotate(-45deg); 
    transform-origin: 0 0;    
}

.norma {
	position: absolute;
	right: 0px;
	top: 0px;
    transform: rotate(15deg) scale(0.35) translate(125px, -1190px);   
    z-index: 10;
	
}


#hinweisoverlay {
 position: absolute;
    top: -20px;     
    left: -10px;      
    font-size: 35px;
    font-weight: bold;
	font-family: Great Vibes;
    color: black;       
    transform: rotate(-40deg);  
    transform-origin: 50% 180%;     
    z-index: 10;
}

#fragesvg {
	position: relative;
	margin:0px;
	height: 300px;
}

#smallfooter {
	height: 300px;
    background: #968A72;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

#largefooter {
	height: 300px;
    background: #968A72;
    padding: 10px;
    font-size: 12px;
    text-align: center;
}

#svgelement {
	position: absolute;
    top: 0;
    left: 0;
    width: 99.8%;
    height: 100%;
    pointer-events: none;
	margin-top: 10px;
}

svg {

  background-color: none;
}
path {
  stroke-dasharray: 2000;
  animation: draw 10s infinite;
}
@keyframes draw {
  from {
    stroke-dashoffset: 0
  }
  to {
    stroke-dashoffset: 5000;
  }

}



.timeline-wrapper {
    width: 80%;
    max-width: 80%;
    margin: 0px auto;
	padding-top: 20px;
    text-align: center;
}


.timeline-wrapper h2 {
    margin-bottom: 40px;
}


.timeline-container {
    position: relative;
    height: 120px;
}


.timeline {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0px;
    height: 4px;
    background: #333;
    transform: translateY(-50%);
}

.timeline::after {
    content: "";
    position: absolute;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 16px solid #333;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}


.tick {
    position: absolute;
    top: 50%;
    width: 2px;
    height: 20px;
    background:#5E574E;
    transform: translateY(-50%);

}


.tick span {
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
	background-color: #D6C8AE;
	z-index:100;

}


.event {
    position: absolute;
    bottom: 82px;          
    left: 0;
    transform: translateX(-50%);
}

.event-box {
    position: relative;
    background: #D6C8AE;
    border: 2px solid #5E574E;
    padding: 7px;
    font-size: 11px;

    display: inline-block;   
    white-space: nowrap;    
    text-align: center;      
    min-width: 50px;         
}


.event-box::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -25px;        
    width: 2px;
    height: 25px;         
    background: #333;
    transform: translateX(-50%);
	z-index:1;
}

.event.bottom {
    position: absolute;
    top: 100px;            
    left: 0;
    transform: translateX(-50%);
}

.event.bottom .event-box {
    position: relative;
    background: #D6C8AE;
    border: 2px solid #5E574E;
    padding: 7px;
    font-size: 11px;

    display: inline-block;
}

.event.bottom .event-box::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;       
    width: 2px;
    height: 40px;       
    background: #333;
    transform: translateX(-50%);
}


.frame {
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
}

.frame.largest {
  inset: 0px;
  border: 1px solid #5E574E;
}

.frame.middle {
  inset: 6px;
  border: 5px solid #5E574E;
}

.frame.smallest {
  inset: 16px;
  border: 1px solid #5E574E;
}



.bottom-right {
	gap: 10px;
	display:flex;
    position: absolute;
	bottom: 5px;
	right: 10px;
}

/* Button-Style */
.img-button {
    width: 60px;
	height: 40px;
    display: flex;
    border: 2px solid black;
	cursor:pointer;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.img-button img {
	object-fit: contain;
	width: 100%;
	height: 100%;
	
}

.img-button:hover 
{ 
transform: scale(1.05); box-shadow: 0 4px 12px rgba(0,0,0,0.3); 
}
/* Bild skaliert automatisch */

.mail {
	font-size: 22px;
	transition: 0.2s ease, box-shadow 0.2s ease; 
}

.mail:hover {
	transform: scale(1); box-shadow: 0 3px 12px rgba(0,0,0,0.3);
}


.chart {
  width: 100%;
}

.row {
  height: 15px;
  margin-bottom: 2px;
}

/* volle Breite als Bezug */
.track {
  position: relative;
  width: 100%;
  height: 100%;
}


.bar {
  position: absolute;
  left: var(--start);
  width: calc(var(--end) - var(--start));
  height: 100%;
  border: 1px solid grey;
  box-sizing: border-box;
  padding-left: 15px;
}

/* Icon im Balken */
.bar-icon {
  position: absolute;
  top: -1px;
  left: -1px;
  height: 100%;
  
  width: auto;
  object-fit: contain;
  border: 1px solid grey;
}



.quoteWrapper{
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 0px;
}

.quoteRow {
 display: flex;
  gap: 10px; 
}

.quoteBox {
	width: 48%; 
	height: 250px; 
	display: flex; 
	padding: 10px; 
	align-items: center; 
	justify-content: center; 
	position:relative
}


.left-box .quote {
  position: absolute;
  width: 50px;
  height: 50px;
}


.left-box .top-left {
  top: 0;
  left: 0;
  transform: translate(-5%, -68%);
}

.left-box .bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(85%, -60%);
}


.bottom-bar {
  width: 100%; 
  height: 30px;
  font-size: 13px;
  text-align: left;
  padding-left: 10px;
margin-top:-15px;
	
}


.text-image-table {
  width: 98%;
  border-collapse: collapse;
}

.text-image-table td {
  vertical-align: middle;
  padding: 10px;
  width:50%;
}

.text-image-table .text {
  text-align: left;
}

.text-image-table .image {
  text-align: center;
}

.text-image-table img {
  text-align:center;
  height: 200px;
   display: inline-block; 
}






















































































































































































